#title{
    /* margin-top: 50%; */
    background-color: #ff4c68;
  }
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}
.container-fluid{
    padding: 3% 15%;
}
.rotate {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    width: 50%;
    height: 80%;
    position: relative;
    top: 50px;
}
#dogimage-div{
    position: relative;
}